/* browser style reset */
*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
}

html{
    scroll-behavior: smooth;
}

body{
    color: black;
    background: #E5E5E5;
}
/* header outline */
.header{
    padding-left: 8%;
    padding-right: 8%;
    background-color:  #1E73E8;
    height: 50px;
}
/* header navigation styling */
.byb{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: white;
    padding-right: 20px;
    border-right: white 1px solid;
    margin-right: 20px;
    cursor: pointer;
}
.nav__list{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.byb__face{
    display: flex;
    padding: 7px;
}

.pro{
    display: flex;
}
.set{
    margin-right: 13px;
}
.set_d{
    background:  #78ABF1;
    padding: 5px;
    font-size: 2rem;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.set_d:hover{
    background:  rgba(19, 81, 167, 0.466);
}
.w_fb{
    color: white;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}
.profile{
    font-size: 2rem;
    padding: 6px;
    color: white;
    margin-left: 15px;
    cursor: pointer;
}
/* end of header navigation styling */

/* styling the orientation of the page */
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 4%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
}
/* removing bullent points and number on lists */
.lists > ul{
    list-style-type: none;
    text-decoration: none; 
}

a{
    text-decoration: none;
    color: black;
}

ul > li {
   
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid black; 
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

/* effect while hovering over te side navigation elements */
ul > li:hover {
    background: #1E73E8;
    color: white;
    transition: 0.6s ease-out;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}
.nav_lists  a:hover{
    color: white;
    cursor: pointer;
}
.lists:hover{
    color: white;
}
/* styling of the other part of the grid */
/* header text stling */
.schedule{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #333333;
    letter-spacing: 0.03em;
}
.form_para{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    margin-bottom: 3%;
    color: #4F4F4F;
}

.form_section{
    background: #FFFFFF;
    margin-top: 3%;
    padding: 3%;
    width: 100%;
    border-radius: 5px;
}

input, select{
    height: 75px;
    background: #F2F2F2;
    border-radius: 6px;
    border: #F2F2F2;
    outline: #F2F2F2;
    font-size: 1.2rem;
    padding: 20px;
}
/* putting the form in a sub grid */
.form_elements{
    padding-left: 4%;
    padding-right: 4%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    
}
/* styling of select and time grid*/
select{
    color: #4F4F4F;
    opacity: 0.8;
} 
.time{
    grid-column: 1/3;
}

/* beginning of button styling  */
.save{
    grid-column: 1/3;
    background: #1E73E8;
    color: #FFFFFF;
    height: 75px;
    margin-top: 10px;
    font-size: 1.4rem;
    outline: none;
    border: none;
    border-radius: 6px;
}
.save:hover{
    background-color: rgb(4, 61, 141);
    transition: 0.5s ease;
    cursor: pointer;
    font-size: 1.5rem;
}
/* end of button styling */
/* styling the footer elments */
.footer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 5%;
    height: 44px;
    background-color:  #1E73E8;
    color: white;
    font-size: 1rem;
}
.footer > div{
    padding-top: 10px;
}

